{% extends 'base.html.twig' %}
{% block body %}
    <a href="/todo/display", class="btn btn-default">Show All Todos</a>

    <a href="/newtodo", class="btn btn-success">Create Todo</a>
{% endblock %}
